<h1 align=center><font size=5>Data Science and Machine Learning Capstone Project</font></h1>
<h2 align=center><font size=3; color=blue> Copyright &#169; Mustafizur Rahman</font></h2>

# 311 System complaints Prediction: Predictive  modeling for future prediction of the possibility of complaints type

## Abstract
Which type of complaint should the Department of Housing Preservation and Development of New York City focus on first?
Should the Department of Housing Preservation and Development of New York City focus on any particular set of boroughs, ZIP codes, or street (where the complaints are severe) for the specific type of complaints identified?
Does the Complaint Type identified have an obvious relationship with any particular characteristic or characteristics of the houses or buildings?
Can a predictive model be built for a future prediction of the possibility of complaints of the type that have identified?

For this project, I used logistic regression, K nearest neighbors classifer, Decision tree, SVM, Naive Bayes classifier and a gradient boosting classifier. Overall, the model that most accurately predicted was the gradient boosting classifer with an accuracy of 73.19%. The gradient boosting classifer was able to paint a picture of the importances of the different building features that impact complaints type most notably BldgDepth','BuiltFAR', 'LotDepth', 'NumFloors', 'ResArea', and building age('BldAge').

## Introduction

The data I used was extracted from the [311 complaint dataset](https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9) and [PLUTO dataset for housing](https://data.cityofnewyork.us/City-Government/Primary-Land-Use-Tax-Lot-Output-PLUTO-/xuk2-nczf).

<p><b>Description of Datasets:</b> 
<b>311 complaint dataset</b>This data is all about New Yorker 311 System of complaints about the nonemergency problems to local authorities and 
 <b>PLUTO Data</b>The Primary Land Use Tax Lot Output (PLUTO™) data file contains extensive land use and geographic data at the tax lot level in ASCII comma-delimited borough files. PLUTO data files contain three basic types of data:
● Tax Lot Characteristics;
● Building Characteristics; and
● Geographic/Political/Administrative Districts.
In this model I need only Building Characteristics data, whic I was extracted and cleaned in previous model.
</p>

<p>The complaint dataset does not give any information about the building by itself, only its location. Thus
to built a predictive model I need to link the type of existing complaints to the building parameters, that means need to link PUTO data set with Complaints data sets. In order to merge both datasets need to cleaned and reduced.
</p>

<b> Here I show the summary of the tow datasets previously cleaned and reduced (in previous model) and finally merged it</b>

<h4>Imports</h4>

In [1]:
# Necessary imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Setting Preferences
sns.set(style='white', color_codes=True)
plt.rcParams.update({'font.size': 22})

# # Ignore warnings
# import warnings
# warnings.filterwarnings('ignore')

# # Statistics
# from scipy.stats import chi2_contingency
# from scipy.stats import ttest_ind
# from sklearn.metrics import confusion_matrix
# from sklearn.metrics import classification_report

# # Cross validation 
# from sklearn.model_selection import train_test_split
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import GridSearchCV
# from sklearn.metrics import confusion_matrix
# from sklearn.metrics import classification_report

# # Model imports
# from sklearn.linear_model import LogisticRegression
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import GradientBoostingClassifier

# # Timer
# import time
# from scipy.special import expit

<h2>Import both data set (BRONX PLUTO and TOP 5 COMPLAINTS for BRONX) from Computer storage folder.</h2>

In [2]:
# filename1='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\top5_compl_BRONX.csv'
# filename2='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\BX_Clean_PLUTO_df.csv'
# #FOR BRROKLYN BOROUGH
# filename1='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\top5_compl_BROOKLYN.csv'
# filename2='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\BK_Clean_PLUTO_df.csv'
#FOR MANHATTON BOROUGH
# filename1='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\top5_compl_MNHTN.csv'
# # filename2='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\MN_Clean_PLUTO_df.csv'
# #FOR QUEENS BOROUGH
# filename1='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\top5_compl_QUEENS.csv'
# filename2='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\QN_Clean_PLUTO_df.csv'
#FOR MANHATTON STATEN ISLAND BOROUGH
filename1='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\top5_compl_STISLND.csv'
filename2='C:\\Users\\TOPU\Documents\\GitHub\\5. Data Science and Machine Learning Capstone Project\\SI_Clean_PLUTO_df.csv'

Use the Pandas method <b>read_csv()</b> to load the data from local drive.

In [3]:
df_complaints = pd.read_csv(filename1)
print(df_complaints.shape)

# #FOR BRONX BOROUGH
# df_BRONX_PLUTO = pd.read_csv(filename2)
# print(df_BRONX_PLUTO.shape)
# #************************
# #FOR BROKLYN BOROUGH
# df_BROOKLN_PLUTO = pd.read_csv(filename2)
# print(df_BROOKLN_PLUTO.shape)
# #************************
# #FOR MANHATTON BOROUGH
# df_MNHTN_PLUTO = pd.read_csv(filename2)
# print(df_MNHTN_PLUTO.shape)
# # #************************
# #FOR QUEENS BOROUGH
# df_QUEENS_PLUTO = pd.read_csv(filename2)
# print(df_QUEENS_PLUTO.shape)
#FOR STATEN ISLAND BOROUGH
df_SI_PLUTO = pd.read_csv(filename2)
print(df_SI_PLUTO.shape)

(50376, 6)
(122712, 21)

Use the Pandas drop methodto drop the "Unnamed:0" columns and reset index.

In [4]:
df_complaints.drop("Unnamed: 0", axis = 1, inplace=True)
df_complaints.reset_index(drop=True, inplace=True)
df_complaints.head(10)
print(df_complaints.shape)

(50376, 5)

In [5]:
df_complaints.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50376 entries, 0 to 50375
Data columns (total 5 columns):
Complaint Type      50376 non-null object
Incident Zip        50091 non-null float64
Incident Address    50376 non-null object
City                50091 non-null object
Borough             50376 non-null object
dtypes: float64(1), object(4)
memory usage: 1.9+ MB

Based on this information, none of the columns have null values, and 5 of the column entries are float values, 1 column entries is (Complaint Type) categorical in nature.  Now, I will inspect the number of unique entries for each column to get a better sense of the data.

In [7]:
df_complaints.nunique()

Complaint Type         5
Incident Zip          12
Incident Address    6004
City                   1
Borough                1
dtype: int64

Some initial observations I had while inspecting the number of unique entries:
- The Incident Address column has the most unique values.  This column represents the address of the unit/house that an entry/complaint could represent.  This makes sense as to why this number is large, because there are several buldings and units in one address those are similar to an entry of complaints.
- The Complaint Type have 5 unique values.  This is because we are modeling for 5 top complaints type and data was spit based on these top complaints.
- There are 12 different Incident Zip in this bourough, borough and city number are unique as we devide complaint data set borough wise!

In [12]:
df_complaints['Complaint Type'].value_counts()

PLUMBING                12476
HEAT/HOT WATER          12353
UNSANITARY CONDITION    11174
GENERAL CONSTRUCTION     8358
HEATING                  6015
Name: Complaint Type, dtype: int64

In [6]:
df_SI_PLUTO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122712 entries, 0 to 122711
Data columns (total 21 columns):
Borough       122712 non-null object
Address       122712 non-null object
BldgArea      122712 non-null float64
BldgDepth     122712 non-null float64
BuiltFAR      122712 non-null float64
CommFAR       122712 non-null float64
FacilFAR      122712 non-null float64
Lot           122712 non-null int64
LotArea       122712 non-null float64
LotDepth      122712 non-null float64
NumBldgs      122712 non-null float64
NumFloors     122712 non-null float64
OfficeArea    122712 non-null float64
ResArea       122712 non-null float64
ResidFAR      122712 non-null float64
RetailArea    122712 non-null float64
YearBuilt     122712 non-null int64
YearAlter1    122712 non-null int64
ZipCode       122712 non-null float64
BldAge        122712 non-null float64
RenvAge       122712 non-null float64
dtypes: float64(16), int64(3), object(2)
memory usage: 19.7+ MB

#Based on this information, none of the columns have null values, and while 16 of the column entries are float values, 3 of the column entries are integer values.

In [8]:
df_SI_PLUTO.nunique()

Borough            1
Address       117097
BldgArea        5886
BldgDepth        843
BuiltFAR         352
CommFAR            6
FacilFAR           6
Lot              826
LotArea        12396
LotDepth        5199
NumBldgs          84
NumFloors         42
OfficeArea      1025
ResArea         4560
ResidFAR           7
RetailArea      1174
YearBuilt        150
YearAlter1        72
ZipCode           12
BldAge           150
RenvAge           72
dtype: int64

Identify_missing_values

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [65]:
# #FOR BRONX BOROUGH
# missing_data_BRONX = df_BRONX_PLUTO.isnull()
# missing_data_BRONX.head(10)
# #FOR BROOKLYN BOROUGH
# missing_data_BROOKLN = df_BROOKLN_PLUTO.isnull()
# missing_data_BROOKLN.head(10)
# #FOR Manhattan BOROUGH
# missing_data_MNHTN = df_MNHTN_PLUTO.isnull()
# missing_data_MNHTN.head(10)
# # #FOR QUEENS BOROUGH
# missing_data_QUEENS = df_QUEENS_PLUTO.isnull()
# missing_data_QUEENS.head(10)
#FOR STATEN ISLAND BOROUGH
missing_data_SI = df_SI_PLUTO.isnull()
missing_data_SI.head(10)

,Borough,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,...,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,BldAge,RenvAge
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<b>"True" stands for missing value</b>, while "False" stands for not missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values. 
</p>

In [66]:
# # #FOR BRONX BOROUGH
# for column in missing_data_BRONX.columns.values.tolist():
#     print(column)
#     print (missing_data_BRONX[column].value_counts())
#     print("") 
#************************************************************************
# #FOR BROOKLYN BOROUGH
# for column in missing_data_BROOKLN.columns.values.tolist():
#     print(column)
#     print (missing_data_BROOKLN[column].value_counts())
#     print("") 
#************************************************************************
# #FOR Manhattan BOROUGH
# for column in missing_data_MNHTN.columns.values.tolist():
#     print(column)
#     print (missing_data_MNHTN[column].value_counts())
#     print("") 
# #************************************************************************
# #FOR Queens BOROUGH
# for column in missing_data_QUEENS.columns.values.tolist():
#     print(column)
#     print (missing_data_QUEENS[column].value_counts())
#     print("")
# #************************************************************************
#FOR Staten Island BOROUGH
for column in missing_data_SI.columns.values.tolist():
    print(column)
    print (missing_data_SI[column].value_counts())
    print("")

Borough
False    122712
Name: Borough, dtype: int64

Address
False    122712
Name: Address, dtype: int64

BldgArea
False    122712
Name: BldgArea, dtype: int64

BldgDepth
False    122712
Name: BldgDepth, dtype: int64

BuiltFAR
False    122712
Name: BuiltFAR, dtype: int64

CommFAR
False    122712
Name: CommFAR, dtype: int64

FacilFAR
False    122712
Name: FacilFAR, dtype: int64

Lot
False    122712
Name: Lot, dtype: int64

LotArea
False    122712
Name: LotArea, dtype: int64

LotDepth
False    122712
Name: LotDepth, dtype: int64

NumBldgs
False    122712
Name: NumBldgs, dtype: int64

NumFloors
False    122712
Name: NumFloors, dtype: int64

OfficeArea
False    122712
Name: OfficeArea, dtype: int64

ResArea
False    122712
Name: ResArea, dtype: int64

ResidFAR
False    122712
Name: ResidFAR, dtype: int64

RetailArea
False    122712
Name: RetailArea, dtype: int64

YearBuilt
False    122712
Name: YearBuilt, dtype: int64

YearAlter1
False    122712
Name: YearAlter1, dtype: int64

ZipCode
False    122712
Name: ZipCode, dtype: int64

BldAge
False    122712
Name: BldAge, dtype: int64

RenvAge
False    122712
Name: RenvAge, dtype: int64

In [67]:
#Complaint Missing Data
missing_data_complaints = df_complaints.isnull()
#missing_data_complaints.head(10)

for column in missing_data_complaints.columns.values.tolist():
    print(column)
    print (missing_data_complaints[column].value_counts())
    print("")

Complaint Type
False    50376
Name: Complaint Type, dtype: int64

Incident Zip
False    50091
True       285
Name: Incident Zip, dtype: int64

Incident Address
False    50376
Name: Incident Address, dtype: int64

City
False    50091
True       285
Name: City, dtype: int64

Borough
False    50376
Name: Borough, dtype: int64

Based on the summary above:
<ul>
    <li>Each column in BRONX_PLUTO data set has 89522 rows of data, no column contain any missing data.</li>
    <li>Each column in BROOKLN_PLUTO data set has 276678 rows of data, LotDepth has 187156 missing data.</li>
    <li>Each column in MNHTN_PLUTO data set has 42813 of data, no column contain any missing data</li>
 </ul>


Similarly each column in df_complaints data set has 1023652 rows of data, <b>TWO</b> columns containing missing data:
<ol>
    <li>"Incident Zip": 7065 missing data</li>
    <li>"City": 7063 missing data</li>
 </ol>

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our BRONX PLUTO dataset, Adress colum will used to merge the data with Complaints Data set (Incident Address). So rows with NaN value need to drop.

In [48]:
#FOR BROOKLYN BOROUGH
# simply drop whole row with NaN in "LotDepth" column
df_BROOKLN_PLUTO.dropna(subset=["LotDepth"], axis=0, inplace=True)
# reset index, because we droped two rows
df_BROOKLN_PLUTO.reset_index(drop=True, inplace=True)
df_BROOKLN_PLUTO.head()

,Borough,Address,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,LotDepth,...,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,BldAge,RenvAge
0,BK,JOHN STREET,0.000000,0.000000,0.000000,0.133333,0.000000,1,0.002889,0.000003,...,0.000000,0.000000,0.00000,0.00,0.000000,0,0,11201.0,0.000000,0.000000
1,BK,10 JAY STREET,0.006829,0.026495,0.001436,0.133333,0.433333,50,0.000374,0.000002,...,0.084034,0.119045,0.00000,0.54,0.012864,1920,1994,11201.0,0.454545,0.216667
2,BK,1 JOHN STREET,0.004272,0.000000,0.000000,0.133333,0.000000,7501,0.000000,0.000003,...,0.100840,0.000000,0.05436,0.00,0.003678,0,0,11201.0,0.000000,0.000000
3,BK,JAY STREET,0.000000,0.000000,0.000000,0.133333,0.000000,1,0.007360,0.000002,...,0.000000,0.000000,0.00000,0.00,0.000000,0,0,11201.0,0.000000,0.000000
4,BK,JAY STREET,0.000000,0.000000,0.000000,0.133333,0.000000,5,0.000121,0.000001,...,0.000000,0.000000,0.00000,0.00,0.000000,0,0,11201.0,0.000000,0.000000

In [68]:
# simply drop whole row with NaN in "Incident Address" column
df_complaints.dropna(subset=["Incident Address"], axis=0, inplace=True)
df_complaints.dropna(subset=["Incident Zip"], axis=0, inplace=True)
df_complaints.dropna(subset=["City"], axis=0, inplace=True)
# reset index, because we droped two rows
df_complaints.reset_index(drop=True, inplace=True)
df_complaints.head()

,Complaint Type,Incident Zip,Incident Address,City,Borough
0,UNSANITARY CONDITION,10307.0,148A MAIN STREET,STATEN ISLAND,STATEN ISLAND
1,HEAT/HOT WATER,10309.0,644 BLOOMINGDALE ROAD,STATEN ISLAND,STATEN ISLAND
2,HEAT/HOT WATER,10302.0,93 BOND STREET,STATEN ISLAND,STATEN ISLAND
3,HEAT/HOT WATER,10304.0,253 VAN DUZER STREET,STATEN ISLAND,STATEN ISLAND
4,PLUMBING,10302.0,48 FABER STREET,STATEN ISLAND,STATEN ISLAND

In [27]:
# #FOR BRONX BOROUGH
# print(df_BRONX_PLUTO.shape)
#FOR BROOKLYN BOROUGH
print(df_BROOKLN_PLUTO.shape)
print(df_complaints.shape)

(89522, 21)
(1059082, 5)

<h3 id="correct_data_format">Filtering Complaint Data Frame</h3>
<p> Fintering complaint dataset using "Incident Address" as before merging two dataset.</p>

In [69]:
pd.options.mode.chained_assignment = None
##FOR BRONX BOROUGH
# df_comp_f=df_complaints[df_complaints.set_index(['Incident Address']).index.isin(df_BRONX_PLUTO.set_index(['Address']).index)]
# print(df_comp_f.shape)
# df_comp_f.drop(['City','Borough'], axis=1, inplace=True)
# df_comp_f.head(10)
#**********************************************************************************
# #FOR BROOKLYN BOROUGH
# df_comp_f=df_complaints[df_complaints.set_index(['Incident Address']).index.isin(df_BROOKLN_PLUTO.set_index(['Address']).index)]
# print(df_comp_f.shape)
# df_comp_f.drop(['City','Borough'], axis=1, inplace=True)
# df_comp_f.head(10)
#**********************************************************************************
# #FOR Manhattan BOROUGH
# df_comp_f=df_complaints[df_complaints.set_index(['Incident Address']).index.isin(df_MNHTN_PLUTO.set_index(['Address']).index)]
# print(df_comp_f.shape)
# df_comp_f.drop(['City','Borough'], axis=1, inplace=True)
# df_comp_f.head(10)
#**********************************************************************************
# #FOR QUEENS BOROUGH
# df_comp_f=df_complaints[df_complaints.set_index(['Incident Address']).index.isin(df_QUEENS_PLUTO.set_index(['Address']).index)]
# print(df_comp_f.shape)
# df_comp_f.drop(['City','Borough'], axis=1, inplace=True)
# df_comp_f.head(10)
#**********************************************************************************
#FOR Staten Island BOROUGH
df_comp_f=df_complaints[df_complaints.set_index(['Incident Address']).index.isin(df_SI_PLUTO.set_index(['Address']).index)]
print(df_comp_f.shape)
df_comp_f.drop(['City','Borough'], axis=1, inplace=True)
df_comp_f.head(10)

(39391, 5)

          Complaint Type  Incident Zip       Incident Address
0   UNSANITARY CONDITION       10307.0       148A MAIN STREET
1         HEAT/HOT WATER       10309.0  644 BLOOMINGDALE ROAD
3         HEAT/HOT WATER       10304.0   253 VAN DUZER STREET
4               PLUMBING       10302.0        48 FABER STREET
5         HEAT/HOT WATER       10314.0     17 SHERADEN AVENUE
8   UNSANITARY CONDITION       10301.0      106 WINTER AVENUE
9         HEAT/HOT WATER       10314.0     142 BIDWELL AVENUE
10  UNSANITARY CONDITION       10301.0     440 ST MARKS PLACE
11        HEAT/HOT WATER       10314.0     142 BIDWELL AVENUE
12  UNSANITARY CONDITION       10310.0          78 ELM STREET

<h3 id="correct_data_format">Merging Data Sets</h3>
<p> In Complaints Dataset adress column is "Incident Address"! to merge these column name should be same! 
    So before meging we need to rename "Incident Address" as "Address".
<b> Combining DataFrames with Pandas follow same procedure as SQL's common type of join like inner join, outer join, Left outer join etc .. with Join Keys. Here I used left outer join.<b></p>

In [70]:
# Rename  
df_comp_f.rename(columns={"Incident Address": "Address" }, inplace=True)
# #FOR BRONX BOROUGH
# # merge data frame "df" and "dummy_variable_1" 
# df_merged = pd.merge(left=df_comp_f, right=df_BROOKLN_PLUTO, left_on='Address', right_on='Address')#inner join
# df_merged.head(10)
# #FOR BROOKLYN BOROUGH
# # merge data frame "df" and "dummy_variable_1" 
# df_merged = pd.merge(left=df_comp_f, right=df_BROOKLN_PLUTO, left_on='Address', right_on='Address')#inner join
# df_merged.head(10)
#**************************************************************************************************************
#FOR MANHATTAN BOROUGH
# # merge data frame "df" and "dummy_variable_1" 
# df_merged = pd.merge(left=df_comp_f, right=df_MNHTN_PLUTO, left_on='Address', right_on='Address')#inner join
# df_merged.head(10)
# #**************************************************************************************************************
# #FOR QUEENS BOROUGH
# df_merged = pd.merge(left=df_comp_f, right=df_QUEENS_PLUTO, left_on='Address', right_on='Address')#inner join
# df_merged.head(10)
# # #**************************************************************************************************************
#FOR Staten Island BOROUGH
df_merged = pd.merge(left=df_comp_f, right=df_SI_PLUTO, left_on='Address', right_on='Address')#inner join
df_merged.head(10)

,Complaint Type,Incident Zip,Address,Borough,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,...,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,BldAge,RenvAge
0,UNSANITARY CONDITION,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
1,GENERAL CONSTRUCTION,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
2,HEAT/HOT WATER,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
3,UNSANITARY CONDITION,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
4,PLUMBING,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
5,PLUMBING,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
6,HEAT/HOT WATER,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
7,PLUMBING,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
8,UNSANITARY CONDITION,10307.0,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
9,HEAT/HOT WATER,10309.0,644 BLOOMINGDALE ROAD,SI,0.070173,0.001992,0.005985,0.0,0.208333,39,...,0.017544,0.0,0.000000,0.2,0.0,2013,0,10309.0,0.019718,0.0

<h4>Identify and Evaluating redundant and missing values for Merged Datasets</h4>
<p>Column <b>"Incident Zip" and "Zip"</b> conatin same vlues and carry information. So we will drop "ZipCode" column.
    In addition lots of rows has NaN values in the right side of Complaints dataset (comming from PLUTO dataset). Those rows need to drop.</p> 
 <b>NOTE: before drop "ZipCode" column we need to replace "Incident Zip" NaN value with Appropriate "ZipCode"</b>

In [71]:
#BEFORE REPLACEMENT "Incident Zip" had 6002 missing data
#Replacing Incident Zip
#df_merged_left['Incident Zip'].replace(np.nan, df_merged_left['ZipCode'],axis = 1, inplace=True) too slow
df_merged['Incident Zip']=np.where(df_merged['Incident Zip'].isnull(), df_merged['ZipCode'], df_merged['Incident Zip'])

In [72]:
pd.options.mode.chained_assignment = None
df_merged.drop(['Incident Zip'], axis=1, inplace=True)
print(df_merged.shape)
df_merged.head(10)

(39455, 22)

,Complaint Type,Address,Borough,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,...,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,BldAge,RenvAge
0,UNSANITARY CONDITION,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
1,GENERAL CONSTRUCTION,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
2,HEAT/HOT WATER,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
3,UNSANITARY CONDITION,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
4,PLUMBING,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
5,PLUMBING,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
6,HEAT/HOT WATER,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
7,PLUMBING,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
8,UNSANITARY CONDITION,148A MAIN STREET,SI,0.001087,0.008964,0.001920,0.0,0.208333,69,0.000196,...,0.017544,0.0,0.001612,0.2,0.0,2005,0,10307.0,0.042254,0.0
9,HEAT/HOT WATER,644 BLOOMINGDALE ROAD,SI,0.070173,0.001992,0.005985,0.0,0.208333,39,0.004025,...,0.017544,0.0,0.000000,0.2,0.0,2013,0,10309.0,0.019718,0.0

In [73]:
#Merged Missing Data
missing_data_df_merged = df_merged.isnull()
#missing_data_complaints.head(10)

for column in missing_data_df_merged.columns.values.tolist():
    print(column)
    print (missing_data_df_merged[column].value_counts())
    print("")

Complaint Type
False    39455
Name: Complaint Type, dtype: int64

Address
False    39455
Name: Address, dtype: int64

Borough
False    39455
Name: Borough, dtype: int64

BldgArea
False    39455
Name: BldgArea, dtype: int64

BldgDepth
False    39455
Name: BldgDepth, dtype: int64

BuiltFAR
False    39455
Name: BuiltFAR, dtype: int64

CommFAR
False    39455
Name: CommFAR, dtype: int64

FacilFAR
False    39455
Name: FacilFAR, dtype: int64

Lot
False    39455
Name: Lot, dtype: int64

LotArea
False    39455
Name: LotArea, dtype: int64

LotDepth
False    39455
Name: LotDepth, dtype: int64

NumBldgs
False    39455
Name: NumBldgs, dtype: int64

NumFloors
False    39455
Name: NumFloors, dtype: int64

OfficeArea
False    39455
Name: OfficeArea, dtype: int64

ResArea
False    39455
Name: ResArea, dtype: int64

ResidFAR
False    39455
Name: ResidFAR, dtype: int64

RetailArea
False    39455
Name: RetailArea, dtype: int64

YearBuilt
False    39455
Name: YearBuilt, dtype: int64

YearAlter1
False    39455
Name: YearAlter1, dtype: int64

ZipCode
False    39455
Name: ZipCode, dtype: int64

BldAge
False    39455
Name: BldAge, dtype: int64

RenvAge
False    39455
Name: RenvAge, dtype: int64

<b>Wonderful!</b>
Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.

Based on top two Complain Type I will create anaother data frame to <b>MODEL Binary Classification </b>.

In [74]:
df_merged['Complaint Type'].unique()
df_merged['Complaint Type'].value_counts()

PLUMBING                10206
UNSANITARY CONDITION     9016
HEAT/HOT WATER           8748
GENERAL CONSTRUCTION     6825
HEATING                  4660
Name: Complaint Type, dtype: int64

In [89]:
#save the clean dataframe for Data Analysis and Predictive Modeling without Indicator/Dummy Variables
# #FOR BRONX
# df_merged.to_csv('Bronx_Merged_top5_df_NoDummy.csv',index=False)
#FOR BROOKLYN
#df_merged.to_csv('Brookln_Merged_top5_df_NoDummy.csv',index=False)
#FOR MANHATTAN
#df_merged.to_csv('Manhattan_Merged_top5_df_NoDummy.csv',index=False)
#FOR Queens
#df_merged.to_csv('Queens_Merged_top5_df_NoDummy.csv',index=False)
#FOR Staten Island
#df_merged.to_csv('Sisland_Merged_top5_df_NoDummy.csv',index=False)

<h2 id="indicator">Indicator variable (or dummy variable)</h2>
<b>What is an indicator variable?</b>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<b>Why we use indicator variables?</b>
<p>
    So we can use categorical variables for regression analysis in the later modules.
</p>
<b>Example</b>
<p>
    In this model I used two top "Complaint Type" , "HEAT/HOTWATER" and "HEATER". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "Complaint Type" into indicator variables. This will work only for Binary Classification.
</p>

<p>
    We will use the panda's method 'get_dummies' to assign numerical values to different categories of Complaint Type.
    <b>BUT BETTER TO USE sklearn's LabelEncoder. IN THIS CASE WE DONT NEED TO CONCATE THE COLUMN WITH DATAFRAME. BUT FOR SOME REASON IT START WITH 1,2,3,4 AND END WITH 0 IN MY CASE!!</b>
</p>

In [75]:
from sklearn import preprocessing
X = df_merged.values
le_CompType = preprocessing.LabelEncoder()
le_CompType.fit(['GENERAL CONSTRUCTION','HEAT/HOT WATER','HEATING','PLUMBING','UNSANITARY CONDITION'])

X[:,0] = le_CompType.transform(X[:,0]) 
X[0:5]
#df.head()
#************************************
# dummy_variable_1 = pd.get_dummies(df_merged['Complaint Type'])
# dummy_variable_1.head()
#***************************************************************************
# encoding_dict = dict()
# for col in cols_to_encode:
#     #get unique values in the column to encode
#     values = df[col].value_counts().index.tolist()

#     # create a dictionary of values and corresponding number {value, number}
#     dict_values = {value: count for value, count in zip(values, range(1,len(values)+1))}

#     # save the values to encode in the dictionary
#     encoding_dict[col] = dict_values

#     # replace the values with the corresponding number from the dictionary
#     df[col] = df[col].map(lambda x: dict_values.get(x))

array([[4, '148A MAIN STREET', 'SI', 0.0010865979381443301,
        0.00896414342629482, 0.001919819311123659, 0.0,
        0.20833333333333331, 69, 0.000196232339089482,
        0.010136188793013827, 0.002398081534772182, 0.017543859649122806,
        0.0, 0.001611546870938642, 0.2, 0.0, 2005, 0, 10307.0,
        0.04225352112676056, 0.0],
       [0, '148A MAIN STREET', 'SI', 0.0010865979381443301,
        0.00896414342629482, 0.001919819311123659, 0.0,
        0.20833333333333331, 69, 0.000196232339089482,
        0.010136188793013827, 0.002398081534772182, 0.017543859649122806,
        0.0, 0.001611546870938642, 0.2, 0.0, 2005, 0, 10307.0,
        0.04225352112676056, 0.0],
       [1, '148A MAIN STREET', 'SI', 0.0010865979381443301,
        0.00896414342629482, 0.001919819311123659, 0.0,
        0.20833333333333331, 69, 0.000196232339089482,
        0.010136188793013827, 0.002398081534772182, 0.017543859649122806,
        0.0, 0.001611546870938642, 0.2, 0.0, 2005, 0, 10307.0,
        0.04225352112676056, 0.0],
       [4, '148A MAIN STREET', 'SI', 0.0010865979381443301,
        0.00896414342629482, 0.001919819311123659, 0.0,
        0.20833333333333331, 69, 0.000196232339089482,
        0.010136188793013827, 0.002398081534772182, 0.017543859649122806,
        0.0, 0.001611546870938642, 0.2, 0.0, 2005, 0, 10307.0,
        0.04225352112676056, 0.0],
       [3, '148A MAIN STREET', 'SI', 0.0010865979381443301,
        0.00896414342629482, 0.001919819311123659, 0.0,
        0.20833333333333331, 69, 0.000196232339089482,
        0.010136188793013827, 0.002398081534772182, 0.017543859649122806,
        0.0, 0.001611546870938642, 0.2, 0.0, 2005, 0, 10307.0,
        0.04225352112676056, 0.0]], dtype=object)

<p><b>I now have the value 0 to represent "GENERAL CONSTRUCTION", 1 to  "HEAT/HOT WATER" and 2 to represent "HEATING" and so on in the column "Complaint type". I will now insert this column back into our original dataset. </b></p>

In [76]:
print(df_merged.shape)
print(X.shape)
print(df_merged.columns)

#Change the X array into Dataframe
df_f = pd.DataFrame(data=X, columns=['Complaint Type', 'Address', 'Borough',
       'BldgArea', 'BldgDepth', 'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot',
       'LotArea', 'LotDepth', 'NumBldgs', 'NumFloors', 'OfficeArea', 'ResArea',
       'ResidFAR', 'RetailArea', 'YearBuilt', 'YearAlter1', 'ZipCode',
       'BldAge', 'RenvAge'])
df_f.head(10)

(39455, 22)
(39455, 22)
Index(['Complaint Type', 'Address', 'Borough', 'BldgArea', 'BldgDepth',
       'BuiltFAR', 'CommFAR', 'FacilFAR', 'Lot', 'LotArea', 'LotDepth',
       'NumBldgs', 'NumFloors', 'OfficeArea', 'ResArea', 'ResidFAR',
       'RetailArea', 'YearBuilt', 'YearAlter1', 'ZipCode', 'BldAge',
       'RenvAge'],
      dtype='object')

,Complaint Type,Address,Borough,BldgArea,BldgDepth,BuiltFAR,CommFAR,FacilFAR,Lot,LotArea,...,NumFloors,OfficeArea,ResArea,ResidFAR,RetailArea,YearBuilt,YearAlter1,ZipCode,BldAge,RenvAge
0,4,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
1,0,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
2,1,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
3,4,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
4,3,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
5,3,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
6,1,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
7,3,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
8,4,148A MAIN STREET,SI,0.0010866,0.00896414,0.00191982,0,0.208333,69,0.000196232,...,0.0175439,0,0.00161155,0.2,0,2005,0,10307,0.0422535,0
9,1,644 BLOOMINGDALE ROAD,SI,0.0701732,0.00199203,0.00598532,0,0.208333,39,0.00402512,...,0.0175439,0,0,0.2,0,2013,0,10309,0.0197183,0

In [77]:
df_f['Complaint Type'].value_counts()

3    10206
4     9016
1     8748
0     6825
2     4660
Name: Complaint Type, dtype: int64

WONDERFUL "COMPLAINT TYPE WITH INDICATOR VARIABLE MATCHES PERFECTLY:
<ol>
    <li>HEAT/HOT WATER     =     309832 </li>
    <li>HEATING            =     168022</li>
    <li>PLUMBING                146425</li>
    <li>UNSANITARY CONDITION=    102982</li>
    <li>GENERAL CONSTRUCTION=     95617</li>
    
 </ol>

<b>Wonderful!</b>
Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.

In [78]:
#save the clean dataframe for Data Analysis and Predictive Modeling
#df_f.to_csv('Bronx_Merged_top5_df.csv',index=False)
#save the clean dataframe for Data Analysis and Predictive Modeling
#df_f.to_csv('Brklyn_Merged_top5_df.csv',index=False)
#save the clean dataframe for Data Analysis and Predictive Modeling
#df_f.to_csv('Manhattan_Merged_top5_df.csv',index=False)
#save the clean dataframe for Data Analysis and Predictive Modeling
#df_f.to_csv('Queens_Merged_top5_df.csv',index=False)
#save the clean dataframe for Data Analysis and Predictive Modeling
df_f.to_csv('SatIsland_Merged_top5_df.csv',index=False)

<hr>
<p>Copyright &copy; 2020 Mustafizur Rahman <a href="https://www.linkedin.com/in/dr-mohammad-rahman-2434b313/">LinkedIn</a>.</p>